@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 49, 54, 63; /* RGB for #31363F */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 49, 54, 63; /* RGB for #31363F */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  body {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  body {
    max-width: 1280px;
  }
}
